.category {
  margin: 1rem auto;

  @include for-tablet-and-up {
    width: 700px;
  }

  @include for-desktop-and-up {
    width: 1220px;
  }

  header {
    text-align: center;
  }

  img {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
  }

}
