.category-header-image {
  text-align: center;
  
  img {
    height: 300px;
    width: 300px;
    margin-bottom: 1rem;

    @include for-tablet-and-up {
      height: 500px;
      width: 500px;
    }

    @include for-desktop-and-up {
      height: 800px;
      width: 800px;
    }
  }
}
