.home-navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @include for-laptop-and-up {
    align-content: space-around;
    flex-direction: row;
    justify-content: center;
  }

  a {
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
    width: 300px;

    @include for-laptop-and-up {
      margin: 1rem;
    }

    @include for-desktop-and-up {
      width: 300px;
    }

    img {
      height: 300px;
      width: 300px;
      margin-bottom: 1rem;;

      @include for-desktop-and-up {
        height: 300px;
        width: 300px;
      }
    }
  }
}
