.home-page {
  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-areas:
  'header'
  'nav';
  grid-template-rows: 200px 1fr;
  grid-template-columns: 1fr;

  @include for-laptop-and-up {
    grid-template-areas:
    'header header header'
    '. nav .';
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 3fr 1fr;
  }

  header {
    height: 100%;
    grid-area: header;
    background-color: #ffffff;
    background-image: url('/assets/img/c-with-glasses.jpeg');
    background-position: right -250px;
    background-repeat: no-repeat;
    width: 100%;

    @include for-phone-only {
      background-position: -260px -250px;
    }

    h1 {
      color: $background-grey;
      display: none;

      @include for-laptop-and-up {
        display: initial;
      }
    }
  }

  nav {
    grid-area: nav;
  }
}
