---
layout: base
---
<header class='site-header'>
    <h1>
      <span>
        {{ site.title | escape }}
      </span>
    </h1>
</header>
<main aria-label="Content">
  <nav class='home-navigation' aria-label="Site">
    <a href="{{ "/yesterday" | relative_url }}">
      Yesterday
      <img src={{"/assets/img/desert-sunset.jpeg" | relative_url}} alt="Desert sunset">
    </a>
    <a href="{{ "/today" | relative_url }}">
      Today
      <img src={{"/assets/img/sunflower-field.jpeg" | relative_url}} alt="Sunflowers in a field">
    </a>
    <a href="{{ "/tomorrow" | relative_url }}">
      Tomorrow
      <img src={{"/assets/img/desert-mountain-road.jpeg" | relative_url}} alt="Desert mountain from the road">
    </a>
  </nav>
</main>
